//import scss file
@import "./gradient-text.scss";

//You can write css or scss
body {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  background-color: #1E1E1E;
  color: white;
  text-align: center;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

img.hero {
  object-fit: contain;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p { line-height: 1.5; }

.section p {
  margin-bottom: 2rem;
  font-family: "Inria Serif";
  font-style: italic;
}

.slogan {
  font-family: "Inria Serif";
  font-size: 2rem;
}

.hero-section {
  display: flex;
  flex-direction: row;
  padding-left: 10rem;
  img {
    width: 50%;
  }
}

.hero-section-copy {
  text-align: left;
  width: 50%;
  padding-top: 6rem;
}

.hero {
  color: #0159E0;
  font-weight: bold;
  font-size: 5vw;
}

.mvp-section {
  padding: 0 10rem 2rem 10rem;
  p {
    font-family: "Inria Serif";
    font-style: italic;
    margin-bottom: 2rem;
  }
  padding-bottom: 2rem;
  img {
    margin-bottom: 2rem;
  }
}

.mission-section {
  padding: 15rem 0;
  font-size: 2rem;
  font-family: "Inria Serif";
  font-style: italic;
  strong {
    font-style: normal;
  }
}

.roadmap-section {
  padding-bottom: 2rem;
}

.team-section {
  .row {
    display: flex;
    flex-direction: row;
  }
  .item {
    padding: 0 2rem;
    text-align: left;
  }
  p {
    font-family: "Inria Serif";
    font-size: 1rem;
    margin: 2rem 0;
  }
  .avatar {
    width: 92px;
    height: 92px;
    background: black;
    border-radius: 20px;
    margin-bottom: 2rem;
  }
}

footer {
  padding: 1rem 0;
}

@media only screen and (max-width: 980px) {
  .hero-section {
    flex-direction: column;
    padding: 0 3rem;
    img {
      width: auto;
    }
  }
  .hero-section-copy {
    width: auto;
  }
  .team-section .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1090px) and (min-width: 981px) {
  .hero-section {
    padding-left: 5rem;
  }
}
